*
{
    padding:0;
    margin:0;
}
nav{
    display:flex;
    /* align-items: center; */
    /* gap: 5rem; */
}
.mainlogo
{
    margin-left: 25px;
    margin-right: 50px;
    height: fit-content;
    align-self: center;
    height:40px;

}

    

nav ul {
    display: flex;
    gap: 1rem;
    align-items: center;
}
nav ul li {
    margin-left: 15px;
    list-style: none;
}
nav ul li a{
    text-decoration: none;
    height:10px;
    padding-top: 5px;
    
}

nav{
   
    background-color: red;
    height: 60px;
    width:100%;
}
.search{
    margin-left: 5rem;
    
    align-self: center;
}
.navimg {
    margin-left: 10px;
    width: 40px;
    align-self: center;
}
.navimg img{
    width: 40%;
    height: 30%;
    align-self: center;
   

}
.mainlogo img{
    height:40px;
}